In [67]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [68]:
df = pd.read_csv("data/insurance.csv")

In [69]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [71]:
df['id_number'] = range(len(df))

In [72]:
df = df[['id_number', 'age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']]
df.head()

   id_number  age     sex     bmi  children smoker     region      charges
0          0   19  female  27.900         0    yes  southwest  16884.92400
1          1   18    male  33.770         1     no  southeast   1725.55230
2          2   28    male  33.000         3     no  southeast   4449.46200
3          3   33    male  22.705         0     no  northwest  21984.47061
4          4   32    male  28.880         0     no  northwest   3866.85520

In [73]:
print('Missing values')
is_missing = df.isnull().sum()
print(is_missing)

Missing values
id_number    0
age          0
sex          0
bmi          0
children     0
smoker       0
region       0
charges      0
dtype: int64

In [79]:
#If there were missing values, the mode, median, or mean could be filled in.
#for example:
#age_mean = df["age"].mean()
#df["age"] = df["age"].fillna(age_mean)

In [75]:
#Normalization will be different for different model

In [76]:
df = pd.get_dummies(df, columns= ['region'])
df = pd.get_dummies(df, columns= ['sex'])
df['smoker'] = df['smoker'].map({'yes': True, 'no': False})

In [77]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_number         1338 non-null   int64
 1   age               1338 non-null   int64
 2   bmi               1338 non-null   float64
 3   children          1338 non-null   int64
 4   smoker            1338 non-null   bool
 5   charges           1338 non-null   float64
 6   region_northeast  1338 non-null   bool
 7   region_northwest  1338 non-null   bool
 8   region_southeast  1338 non-null   bool
 9   region_southwest  1338 non-null   bool
 10  sex_female        1338 non-null   bool
 11  sex_male          1338 non-null   bool
dtypes: bool(7), float64(2), int64(3)
memory usage: 61.5 KB

In [78]:
df.to_csv(r"C:\Users\Artsiom\PycharmProjects\AIlabs\data_all\processed_data.csv", index=False)